<div class="container" >
    <form name="setupWizardForm" class="form-login form-wrapper form-narrow" ng-submit="setup()" novalidate>
        <h3 class="title-divider"><span>Gatewayd Setup Wizard</span></h3>

        <div class="form-group">
            <input type="text" class="form-control" ng-model="config.ripple_address" placeholder="Ripple Address" required />
        </div>

        <div class="form-group">
            <input type="text" class="form-control" ng-model="config.secret" placeholder="Ripple Secret" required />
        </div>

        <div class="form-group">
            <input type="text" class="form-control" ng-model="config.currency" placeholder="Currency to issue" required />
        </div>


        <div class="form-group">
            <input type="text" class="form-control" placeholder="" required />
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="" required />
        </div>

        <div class="form-group">
            <button class="btn btn-primary" ng-disabled="setupWizardForm.$invalid" style="width: 100%">Setup</button>
        </div>
        <p class="small">Your secret won't be store anywhere; will be used once to configure gatewayd.</p>
    </form>

    <div ng-show="errors.length > 0">
        <ul ng-repeat="error in errors">
            <li>{{ error.message }}</li>
        </ul>
    </div>

</div>